
@font-face {
    font-family: "Reem";
    src: url("../fonts/reem.ttf");

}

@font-face {
    font-family: 'Reem';
    src: url("../fonts/reem_bold.ttf");
    font-weight: bold;
  }

html, body{
    height: 100%;
}

body{
    background-color: #F3F4FB;
}

.brand{
    color: #195794;
    font-family: 'Reem';
    font-weight: bold;
}